<!-- <form (ngSubmit) ="UpdateAnnouncement()" name="adminForm"  #adminForm="ngForm">
                            
  <div class="enddate bodytext" for="edate">End date:</div>
  <input class = "enddatebox bodytext" type="date" id="edate" name="enddate" style= "border: 2px solid #E6E6E6; border-radius: 10px; width: 56%;" placeholder="00/00/00" [(ngModel)]="enddate" required>

  <textarea class ="header bodytext" id="header" name="header" placeholder="Header goes here" [(ngModel)]="header" required maxlength="59"></textarea>

  <ejs-richtexteditor id='iframeRTE' required name = body [(value)]='body' [(ngModel)]="body" placeholder="Body text here" [toolbarSettings]='tools' style="font: Regular 16px/22px CiscoSansTT; margin-top:9px;" showCharCount="true" maxLength="540" ></ejs-richtexteditor>

<button type="submit" [disabled]="!adminForm.valid " class="btn-bx-active-done" [ngStyle]="{'background-color':adminForm.valid ? '#0B93DB' : '', 'border':adminForm.valid ? '2px solid #0886C9' : '', 'color':adminForm.valid ? '#FFFFFF':''}" (click)= "announceSuccess()">Done</button>
<button type="button" class="btn-bx-cancel" (click)= "CloseAnnounce()">Cancel</button>


</form> -->
<!-- <form name="adminForm"  #adminForm="ngForm"> -->
  <!-- <textarea class ="header bodytext" id="header" name="header" placeholder="Header goes here" [(ngModel)]="header" required maxlength="59"></textarea> -->

  <!-- <ejs-datetimepicker id="seconddatetime" #ejDateTimePickers [(ngModel)]='value' width="230px"></ejs-datetimepicker>                       -->
  
  <!-- <ejs-richtexteditor id='iframeRTE' required name = body [(value)]='body' [(ngModel)]="body" placeholder="Body text here" [toolbarSettings]='tools' style="font: Regular 16px/22px CiscoSansTT; margin-top:9px;" showCharCount="true" maxLength="540" ></ejs-richtexteditor>

<button type="submit" [disabled]="!adminForm.valid " class="btn-bx-active-done" [ngStyle]="{'background-color':adminForm.valid ? '#0B93DB' : '', 'border':adminForm.valid ? '2px solid #0886C9' : '', 'color':adminForm.valid ? '#FFFFFF':''}" (click)= "announceSuccess()">Done</button>
<button type="button" class="btn-bx-cancel" (click)= "CloseAnnounce()">Cancel</button>
 -->

<!-- </form> -->
<div class="MeetingForm" >
<form name="MeetingForm" #MeetingForm="ngForm">
  <div>
    <ejs-textbox class="title" id="title" name="title" placeholder="Meeting title" [(ngModel)]="title" required maxlength="128" width="400px"></ejs-textbox>
</div>
<div>
  <ejs-textbox class="password" id="password" name="password" placeholder="Password" [(ngModel)]="password" width="400px"></ejs-textbox>
</div>
  <div>
    <ejs-datetimepicker placeholder='Start date and time' [min]='minDate' id="start" name="start" #ejDateTimePicker [(ngModel)]="start" width="400px"></ejs-datetimepicker>
  </div>
  <div>
    <ejs-datetimepicker placeholder='End date and time' [min]='minDate' id="end" name ="end" #ejDateTimePickers [(ngModel)]="end" width="400px"></ejs-datetimepicker>
  </div>
    <div>
      <ejs-textbox [multiline]='true' class="invitees" id="invitees" name="invitees" placeholder="Invitees Email example navmathe@cisco.com, aaydixit@cisco.com" [(ngModel)]="invitees" width="400px"></ejs-textbox>
  </div> 
  <div>
  <!-- <div id="content"> -->
    <!-- <div id="contentInside" *ngFor="let container of containers"> -->
    <span>
    <ejs-textbox class="agendaitems" id="agendaitems" name="agendaitems" placeholder="Agenda Items" [(ngModel)]="agendaitems" width="200px"></ejs-textbox>
    </span>
    <span style="margin-left: 15px">
    <ejs-textbox class="agendatimes" id="agendatimes" name="agendatimes" placeholder="time" [(ngModel)]="agendatimes" width="50px"></ejs-textbox>
    </span>
  </div>
  <!-- <button (click)="add()">Add Agenda Item </button>
  </div> -->
  <!-- <div>
    <ejs-textbox [multiline]='true' class="agenda" id="agenda" name="agenda" placeholder="Agenda" [(ngModel)]="agenda" width="400px"></ejs-textbox>
</div>  -->
  <div> Auto record meeting
    <ejs-switch id="enabledAutoRecordMeeting" name="enabledAutoRecordMeeting" [(ngModel)]="enabledAutoRecordMeeting"></ejs-switch>
  </div>
  <div> Allow any user to be cohost
    <ejs-switch id="allowAnyUserToBeCoHost" name="allowAnyUserToBeCoHost" [(ngModel)]="allowAnyUserToBeCoHost"></ejs-switch>
  </div>
</form>
</div>

<p> {{MeetingForm.value | json}}</p>
<div *ngFor="let rec of inviteeList">
  <div>{{rec?.email}}</div>
  <div>{{rec?.name}}</div>
</div>

<p> Meet, Collaborate, and Communicate. Wherever, Whenever. </p>
