<div class="meetingForm">
<form (ngSubmit) ="addMeeting()" name="meetingForm" #meetingForm="ngForm">
  <div>
    <ejs-textbox class="title" id="title" name="title" placeholder="Meeting title" [(ngModel)]="title" required maxlength="128" width="500px"></ejs-textbox>
</div>
<div>
  <ejs-textbox class="password" id="password" name="password" placeholder="Password" [(ngModel)]="password" required width="500px"></ejs-textbox>
</div>
  <div>
    <ejs-datetimepicker placeholder='Start date and time' [min]='minDate' id="start" name="start" #ejDateTimePicker [(ngModel)]="start"  required width="500px"></ejs-datetimepicker>
  </div>
  <div>
    <ejs-datetimepicker placeholder='End date and time' [min]='minDate' id="end" name ="end" #ejDateTimePickers [(ngModel)]="end" required width="500px"></ejs-datetimepicker>
  </div>
    <div>
      <ejs-textbox [multiline]='true' class="invitees" id="invitees" name="invitees" placeholder="Invitees Email example navmathe@cisco.com,aaydixit@cisco.com" [(ngModel)]="invitees" required width="500px"></ejs-textbox>
  </div>
  <div *ngFor="let rec of inviteeList">
    <span class="inviteeRecContainer">
    <div class="inviteeRec">{{rec?.name}}<span><{{rec?.email}}></span></div>
    </span>
  </div> 
  <div class="agendaItemIconContainer">
    <img class="newAgendaItem" src="/assets/NewAgendaItem.svg" (click)="addAgendaItem()"/><span class="AgendaItemIconTitle">Agenda Item</span>
  </div>
    <section class="agendaContainer" *ngFor="let agendaitem of agendaitems; let i = index;" width="500px">
    <span>
    <ejs-textbox class="agendaitem" id="agendaitem" name="agendaitem-{{i}}" placeholder="Agenda Item" [(ngModel)]="agendaitem.agendaitem" required width="350px"></ejs-textbox>
    </span>
    <span style="margin-left: 15px">
    <ejs-textbox class="agendatime" id="agendatime" name="agendatime-{{i}}" placeholder="Time" [(ngModel)]="agendaitem.agendatime" required width="50px"></ejs-textbox>
    </span>
    <span>
      <button class="btn-bx delete" type="button" (click)="deleteAgendaItem(i)">Delete</button>
    </span>
  </section>
  <div> Auto record meeting
    <ejs-switch id="enabledAutoRecordMeeting" name="enabledAutoRecordMeeting" [(ngModel)]="enabledAutoRecordMeeting" required></ejs-switch>
  </div>
  <div> Allow any user to be cohost
    <ejs-switch id="allowAnyUserToBeCoHost" name="allowAnyUserToBeCoHost" [(ngModel)]="allowAnyUserToBeCoHost" required></ejs-switch>
  </div>
  <button class="submitButton" type="submit" value="Submit" [disabled]="!meetingForm.form.valid">Submit</button>
</form>


<p>Meet, Collaborate, and Communicate. Wherever, Whenever. </p>

</div>

