@import '../node_modules/@syncfusion/ej2-base/styles/material.css';
@import '../node_modules/@syncfusion/ej2-buttons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-inputs/styles/material.css';
@import '../node_modules/@syncfusion/ej2-popups/styles/material.css';
@import '../node_modules/@syncfusion/ej2-lists/styles/material.css';
@import '../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-calendars/styles/material.css';
@import '../node_modules/@syncfusion/ej2-angular-calendars/styles/material.css';
@import "../node_modules/@syncfusion/ej2-base/styles/material.css";
@import "../node_modules/@syncfusion/ej2-buttons/styles/material.css";
@font-face{
    font-family: 'CiscoSans-Regular';
    src: url("../node_modules/cisco-ui/src/fonts/CiscoSans/CiscoSansTTRegular.ttf") ;font-style:normal;
  }
  @font-face{
    font-family: 'CiscoSans-Light';
    src: url('../node_modules/cisco-ui/src/fonts/CiscoSans/CiscoSansTTLight.woff2') ;font-style:normal;
  }

.meetingForm{
  border-radius: 20px;
  border: 2px solid #00BCEB;
  padding: 50px 90px;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'CiscoSans-Light';
  font-size: 14px;

}
.submitButton{
  text-align: left;
  letter-spacing: 0px;
  border: 2px solid #00BCEB;
  color: #1D4572;
  background-color: #fff;
  opacity: 1;
  border-radius: 23px;
  padding: 5px 15px 5px 15px;
  position: relative;
  cursor: pointer;
  font-family: 'CiscoSans-Light';
  outline: none;
  margin-top: 20px;
  font-size: 14px;
  } 
  
.submitButton:disabled,.submitButton:disabled:hover{
  background-color: #fff !important;
  border: 2px solid #e6e6e6 !important;
  border-radius: 23px;
  color: #3C3C3C;
  cursor: context-menu;
  outline:none;
}
.submitButton:hover, .submitButton:focus{
    border: 2px solid #00BCEB;
    color: #1D4572 ;
    background-color: #fff;
    border-radius: 23px;
    outline:none;

  }

.e-input-group:not(.e-float-icon-left):not(.e-float-input)::before, .e-input-group:not(.e-float-icon-left):not(.e-float-input)::after, .e-input-group.e-float-icon-left:not(.e-float-input) .e-input-in-wrap::before, .e-input-group.e-float-icon-left:not(.e-float-input) .e-input-in-wrap::after, .e-input-group.e-control-wrapper:not(.e-float-icon-left):not(.e-float-input)::before, .e-input-group.e-control-wrapper:not(.e-float-icon-left):not(.e-float-input)::after, .e-input-group.e-control-wrapper.e-float-icon-left:not(.e-float-input) .e-input-in-wrap::before, .e-input-group.e-control-wrapper.e-float-icon-left:not(.e-float-input) .e-input-in-wrap::after {
  background:#1e4471 !important;
}
.button:hover {
  background-color: #0886C9 !important;
  border: 2px solid #0886C9 !important;
  color: #fff !important;
  outline:none;
  cursor: pointer;
  }
/* .button {
color:#fff;
font-family: 'CiscoSans-Regular' !important;
background-color:#0B93DB;
border: 2px solid #0B93DB !important;
opacity: 1;
border-radius: 23px;
padding: 9px 18px 9px 18px;
cursor: pointer;
} */

.btn-bx {
  background-color: #fff;
  border-radius: 23px;
  border: 2px solid #E6E6E6 ;
  color: #3C3C3C ;
  padding: 2px 12px 2px 12px;
  font-family: 'CiscoSans-Light';
  outline:none;
  font-size: 14px;
}
.btn-bx:disabled,.btn-bx:disabled:hover{
  background-color: #fff !important;
  border: 2px solid #e6e6e6 !important;
  border-radius: 23px;
  color: #3C3C3C !important;
  cursor: context-menu;
  outline:none;

}
.btn-bx:hover, .btn-bx:focus, .btn-bx-active  {
  background-color: #0B93DB;
  color: #fff;
  border: 2px solid #0B93DB;
  outline:none;
  cursor: pointer;
}
.btn-bx-inactive {
  color: #3C3C3C !important;
  border: 2px solid #E6E6E6 !important;
  outline:none;
}
.btn-bx-inactive:hover {
  background-color: #e6e6e6;
  color: #3C3C3C !important;
  outline:none;
}

.e-switch-wrapper .e-switch-on{
background-color:#64bbe3 !important;
color:#fff;
}

.e-switch-wrapper .e-wrapper .ng-dirty .ng-touched{
  background-color:#64bbe3 !important;
color:#fff;
}

.e-switch-wrapper .e-switch-handle.e-switch-active, .e-css.e-switch-wrapper .e-switch-handle.e-switch-active {
  background-color:#64bbe3 !important;
}

.newAgendaItem{
  width: 30px;
  height: 25px;
  background-size: contain;
  cursor: pointer;
  padding-top: 15px;
  font-family: 'CiscoSans-Light';

}
.AgendaItemIconTitle{
  position: relative;
  bottom: 7px;
  margin-left: 10px;
  font-family: 'CiscoSans-Light';

}
.agendaItemIconContainer{
  display:inline-block;
  margin-bottom: 10px;
}

.agendaContainer{
  display:block;
  margin-bottom: 15px;
}

.agendaitem, .agendatime, .btn-bx {
  display:inline-block;
  font-family: 'CiscoSans-Light';

}

.delete{
  margin-left:15px;
}

.inviteeRecContainer{
  border: 1px solid #e6e6e6;
  background-color: #fff;
  color: #6c757d;
  border-radius: 23px;
  outline:none;
  position:relative;
  width:auto;
  display:inline-block;
}
.inviteeRecContainer:hover{
  border: 2px solid #00BCEB;
  color: #1D4572 ;
  background-color: #fff;
}

.inviteeRec{
  min-width:250px;
  font-family: 'CiscoSans-Light';
  font-size: 14px;
  padding: 4px 10px;
}
.inviteeWrapper{
  width: 500px;
  overflow: auto;
}

.Webex{
  background: url(/assets/Cisco_Webex_logo_lockup_cisco_blue-indigo.jpg) no-repeat left;
  width: 200px;
  height: 110px;
  display: inline-block;
  background-size: contain;
  margin-left: 40px;
}

.webexSlogan{
  display:block;
  font-family: 'CiscoSans-Light';
  font-size: 20px;
  bottom:0px;
  color: #6c757d;

}

.meetingForm:placeholder-shown, .meetingForm::placeholder{
  font-family: 'CiscoSans-Light';
  font-size: 14px;
  margin-left: auto;
  margin-right: auto;
}

.body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#wrapper {
  display: flex;
}


#slogan {
  margin-top: 100px;
  text-align: center;
}

.Title{
  font-family: 'CiscoSans-Light';
  font-size: 22px;
  margin-right: 500px;
  margin-bottom: 20px;
  text-align: center;
}